.contato{
    width: 100%;

}


.contato form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    color: var(--color-text);
    margin-top: 2rem;


    input{

        background-color: var(--color-ice);
        border: 1px solid transparent;
        padding: 1rem .5rem;
        border-radius: 1rem;
        margin-bottom: 1.2rem ;

    }   


    input::placeholder{
        color: var(--color-text);
    }

    input:focus{
        outline: none;
        border:  1px solid var(--color-primary-hover);
    }

    label{
        margin-left: 1rem;
        margin-bottom: .5rem;
    }
}

