main.container{
    padding: 2rem  0!important;
    display: flex;  
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


main.container .busca{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

main.container .busca input{ 
    
    border-radius: 50px;
    border: 1px solid transparent;
    background-color: var(--color-ice);
    padding: .5rem 1rem;
    width: 500px;   

  
}

main.container .busca input:focus{
    outline: none;
    border: 1px solid var(--color-primary);
}

main.container .busca button{
    padding: .5rem 5rem;
    border: none;
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
    border-radius: 50px;
    transition: background .2s ease;

    &:hover{
        background-color: var(--color-primary-hover);
    }
}



