/* .produtos{
    background-color: var(--color-ice);
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;

} */



.produtos{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(280px, auto)); 
    grid-gap: 2rem;
}

.produtos article{


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: auto;
    width: 100%;

    span{
        font-size: var(--font-size-regular);
        font-weight: 600;

        &::before{
            content: '';
            display: inline-block;
            width: 40px;
            height: 4px;
            background-color: var(--color-primary);
            margin-right: 1rem;
        }
    }

    img{
        width: 100%;
        height: auto;          /* preserva proporção */
        max-height: 220px;     /* opcional, controla a altura visível */
        display: block;
        object-fit: cover;     /* mantém o crop bonito caso defina max-height */
        border-radius: 12px; 

    }


    p{
        font-size: var(--font-size-p);
        color: var(--color-text);
        
    }


    button{

        padding: .5rem 1rem;
        border: none;
        background-color: var(--color-primary);
        color: white;
        cursor: pointer;
        border-radius: 50px;
        transition: background .2s ease;
    
        &:hover{
            background-color: var(--color-primary-hover);
        }

    }
}