.sobre{
    width: 100%;
    padding: 6rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}


.sobre .text-sobre{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    max-width: 390px;
    
    p{
        margin-top: 1rem;
        color: var(--color-text);
    }

    button{
        margin-top: 1rem;
        padding: .5rem 1rem;
        border: none;
        background-color: var(--color-primary);
        color: white;
        cursor: pointer;
        border-radius: 50px;
        transition: background .2s ease;
    
        &:hover{
            background-color: var(--color-primary-hover);
        }
    }
}


.sobre .imagem{
    width: 100%;

    img{
        width: 100%;
        height: auto;          /* preserva proporção */
        display: block;
        object-fit: cover;     /* mantém o crop bonito caso defina max-height */
        border-radius: 12px; 
    }
    
}